// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

body {
    // color:red;
    padding: 50px;
}


.box {
    width: 100px;
    height: 100px;
    border: black solid 1px;
    display: inline-block;
    margin-right: 5px;
}

.big-box {
    float: left;
    margin: 10px;

    .player-info {
        display: inline-block;
        margin: 0 10px 0px 10px;
    }
}

.green {
    background-color: green;
}

.black {
    background-color: black;
}

.tableBox {
    line-height: 0px;
}

.box {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    display: inline-block;
}

.black {
    background-color: black;
}

.red {
    background-color: red;
}

.green   {
    background-color: green ;
}
